.list {
	margin: 0;
	padding: 0;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.list::selection, .list *::selection {
	background-color: transparent;
}
.list > li {
	display: block;
	margin: 0 0 -1px;
	border: 1px solid #cae0f3;
	cursor: pointer;
	overflow: hidden;
    /*transition: background .3s ease-out;*/
}
.list > li:first-child {
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.list > li:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.list > li:hover, .list > li:focus, .list > li.highlighted {
    background-color: #f2faff;
    transition: background .3s ease-out;
}
.list .active, .list > .active:hover, .list > .active:focus {
    background: #62A4D9;
    background: -webkit-linear-gradient(top, #62A4D9, #3D81B9);
    background: -moz-linear-gradient(top, #62A4D9, #3D81B9);
    background: -o-linear-gradient(top, #62A4D9, #3D81B9);
    background: -ms-linear-gradient(top, #62A4D9, #3D81B9);
    background: linear-gradient(top, #62A4D9, #3D81B9);
    border-color: #4085BD #4085BD #2C5F88;
    text-shadow: 0 -1px #335891;
}
.list .active a, .list > .active:hover a, .list > .active:focus a {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	color: #ffffff;
}
.list .row {
	margin: 0;
}
.list a:hover, .list a:focus {
    color: inherit;
}
.list .row > a {
	display: block;
	padding: 4px 14px;
}
.list a[class*="span"] {
	float: left;
	margin: 0;
}
.list a.right[class*="span"] {
    float: right;
}
.list a.span-60 {
	width: 60px;
}
.list a.span-80 {
    width: 80px;
}
.list a.span-100 {
    width: 100px;
}
.list a.span-180 {
    width: 180px;
}
.list a.span-200 {
    width: 200px;
}
.list a.span-260 {
	width: 260px;
}
.list .row > .comment {
	clear: both;
	font-size: 85%;
	padding: 0 10px 4px;
	color: #888;
}
.list .active .comment, .list > .active:hover .comment, .list > .active:focus .comment {
	color: #ffffff;
}
.list .indent {
	display: inline-block;
	width: 10px;
}

.big-list .row > a {
	padding: 8px 10px;
}

.indent1 {
	padding-left: 10px;
}
.popover-content {
	padding: 12px 14px;
}
.popover-content h5 {
	margin-top: 0;
}
.popover form {
	margin-bottom: 0;
}
.popover:not(.in) li, .popover:not(.in) a {
	cursor: default;
}

.form-pad {
	padding: 14px 24px;
	background-color: #fff;
	border: 1px solid #cae0f3;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.form-control {
    border: 1px solid #cae0f3;
    box-shadow: none;
}

.center-form {
	width: 400px;
	margin: 10% auto;
}
.alert {
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}
.alert.top-right {
	position: fixed;
	top: 50px;
	right: 0;
	margin: 20px;
	z-index: 1050;
	outline: none;
}
.alert.top-right .close {
	padding-left: 10px;
}

.btn {
    display: inline-block;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    border-radius: 2px;
}
.btn-rounded {
    border-radius: 4px;
}
.btn-color {
    min-width: 110px;
    margin-right: 6px;
    border-color: #D1D1D1 #D1D1D1 #AAAAAA;
    background: #F5F5F5;
    background: -webkit-linear-gradient(top, #F5F5F5, #E7E7E7);
    background: -moz-linear-gradient(top, #F5F5F5, #E7E7E7);
    background: -o-linear-gradient(top, #F5F5F5, #E7E7E7);
    background: -ms-linear-gradient(top, #F5F5F5, #E7E7E7);
    background: linear-gradient(top, #F5F5F5, #E7E7E7);
    box-shadow: 0 1px #FFFFFF inset,1px 0 #F7F7F7 inset,-1px 0 #F7F7F7 inset,0 -1px #F1F1F1 inset,0 1px #E6E6E6;
    color: #333;
    text-shadow: 0 1px #F0F0F0;
}
.btn-color:hover {
    color: #333;
    border-color: #DFDFDF #DFDFDF #B2B2B2;
    background: #FDFDFD;
    background: -webkit-linear-gradient(top, #FDFDFD, #EFEFEF);
    background: -moz-linear-gradient(top, #FDFDFD, #EFEFEF);
    background: -o-linear-gradient(top, #FDFDFD, #EFEFEF);
    background: -ms-linear-gradient(top, #FDFDFD, #EFEFEF);
    background: linear-gradient(top, #FDFDFD, #EFEFEF);
}
.btn-big {
    display: inline-block;
    text-align: center;
    border: 1px solid;
    border-radius: 2px;
    font-size: 19px;
    padding: 10px 15px;
    min-width: 160px;
    cursor: pointer;
}
.btn-blue {
    border-color: #4085BD #4085BD #2C5F88;
    background: #62A4D9;
    background: -webkit-linear-gradient(top, #62A4D9, #3D81B9);
    background: -moz-linear-gradient(top, #62A4D9, #3D81B9);
    background: -o-linear-gradient(top, #62A4D9, #3D81B9);
    background: -ms-linear-gradient(top, #62A4D9, #3D81B9);
    background: linear-gradient(top, #62A4D9, #3D81B9);
    box-shadow: 0 1px #91BFE4 inset,1px 0 #6BA5D4 inset,-1px 0 #6BA5D4 inset,0 -1px #5995C6 inset;
    text-shadow: 0 -1px #325386;
    color: #ffffff;
    user-select: none;
}
.btn-blue:hover {
    border-color: #4390CF #4390CF #2C6693;
    background: #68B2ED;
    background: -webkit-linear-gradient(top, #68B2ED, #3F8CCA);
    background: -moz-linear-gradient(top, #68B2ED, #3F8CCA);
    background: -o-linear-gradient(top, #68B2ED, #3F8CCA);
    background: -ms-linear-gradient(top, #68B2ED, #3F8CCA);
    background: linear-gradient(top, #68B2ED, #3F8CCA);
    box-shadow: 0 1px #9FD2FC inset,1px 0 #76B8EC inset,-1px 0 #76B8EC inset,0 -1px #5FA2D9 inset;
    text-shadow: 0 -1px #335891;
    color: #ffffff;
}
.btn-orange {
    border-color: #F26A00 #F26A00 #C25000;
    background: #FA8F00;
    background: -webkit-linear-gradient(top, #FEA400, #F67C00);
    background: -moz-linear-gradient(top, #FEA400, #F67C00);
    background: -o-linear-gradient(top, #FEA400, #F67C00);
    background: -ms-linear-gradient(top, #FEA400, #F67C00);
    background: linear-gradient(top, #FEA400, #F67C00);
    box-shadow: 0 1px #FEBF4D inset,0 -1px #F6974D inset,1px 0 #FDAB21 inset,-1px 0 #FDAB21 inset;
    text-shadow: 0 -1px #C95F00;
    color: #ffffff;
}
.btn-orange:hover {
    border-color: #FF7200 #FF7200 #D45500;
    background: #FF9C00;
    box-shadow: 0 1px #FFD151 inset,0 -1px #FFA451 inset,1px 0 #FFB620 inset,-1px 0 #FFAC20 inset;
    text-shadow: 0 -1px #C95000;
    background: -webkit-linear-gradient(top, #FFB300, #FF8600);
    background: -moz-linear-gradient(top, #FFB300, #FF8600);
    background: -o-linear-gradient(top, #FFB300, #FF8600);
    background: -ms-linear-gradient(top, #FFB300, #FF8600);
    background: linear-gradient(top, #FFB300, #FF8600);
    color: #ffffff;
}
.btn-red {
    border-color: #F24D00 #F25700 #E05100;
    background: #FA3C00;
    background: -webkit-linear-gradient(top, #FF8964, #DD3500);
    background: -moz-linear-gradient(top, #FF8964, #DD3500);
    background: -o-linear-gradient(top, #FF8964, #DD3500);
    background: -ms-linear-gradient(top, #FF8964, #DD3500);
    background: linear-gradient(top, #FF8964, #DD3500);
    box-shadow: 0 1px #FFBBA7 inset,0 -1px #DB7859 inset,1px 0 #FD825B inset,-1px 0 #FD825B inset;
    text-shadow: 0 -1px #AF2B01;
    color: #ffffff;
}
.btn-red:hover {
    background: -webkit-linear-gradient(top, #FDA082, #E94D1C);
    color: #ffffff;
}

.btn-square {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    width: 34px;
    height: 34px;
    line-height: 34px;
    border-radius: 4px;
    font-size: 20px;
}
.btn-square:focus,
.btn-square:active:focus,
.btn-square.active:focus {
    outline: none;
}

a.blue {
    color: #428bca;
}
a.blue:hover {
    color: #2a6496;
}

.footer-panel {
    position: fixed;
    bottom: 10px;
    max-width: 1000px;
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-out;
}
.mhide {
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.15s ease-out,
        visibility 0.15s linear;
}

.btn-rounded {
    border: 1px solid #cae0f3;

    transition: background .3s ease-out;
}
.btn-rounded:not(:first-child) {
    border-left-width: 0;
}
.btn-rounded:hover, .btn-rounded.active {
    border-color: #bfd3e6;

    transition: background .3s ease-out;
}
.btn-rounded:hover {
    background: #f2faff;

    transition: background .3s ease-out;
}

.btn-rounded.active, .btn-rounded.active:hover {
    background: #62A4D9;
    background: -webkit-linear-gradient(top, #62A4D9, #3D81B9);
    background: -moz-linear-gradient(top, #62A4D9, #3D81B9);
    background: -o-linear-gradient(top, #62A4D9, #3D81B9);
    background: -ms-linear-gradient(top, #62A4D9, #3D81B9);
    background: linear-gradient(top, #62A4D9, #3D81B9);
    border-color: #4085BD #4085BD #2C5F88;
    text-shadow: 0 -1px #335891;
    color: #ffffff;

    transition: background .3s ease-out;
}
