body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
}
body h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
}

body h1 {
    color: rgb(32, 32, 32);
}
h2 {
    margin-top: 27px;
}