@media (min-width: 1200px) {
	.big-list .span1 {
		width: 75px;
	}
	.big-list .span3 {
		width: 225px;
	}
}
@media (max-width: 979px) and (min-width: 768px) {
	.big-list [class*="span"] {
		margin-left: 16px;
	}
	.big-list .span1 {
		width: 45px;
	}
	.big-list .span3 {
		width: 135px;
	}
}
@media (max-width: 767px) {
	.big-list .row {
		margin-left: 0;
	}
	.big-list [class*="span"] {
		display: block;
		float: none;
		margin-left: 0;
	}
}