li {
	list-style: none;
}
a {
    color: #3f3f3f;
}
a:hover, a:focus {
	text-decoration: none;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
form {
	margin: 0;
}
.container {
    margin-top: 80px;
    padding: 0;
	position: relative;
}