
.category-selector {
    position: relative;
}
.category_clear {
    display: none;
    position: absolute;
    right: 5px;
    top: 10px;
    padding: 2px;
    width: 15px
    height: 15px;

    color: #3D81B9;
    text-shadow: 0 -1px #335891;
    cursor: pointer;
    transition: color .2s ease-out;
}
.category_clear:hover {
    color: #5B9FD6;
    transition: color .2s ease-out;
}
.category_clear.in {
    display: block;
}
.no_category div {
    padding: 4px 14px 7px;
    font-size: 13px;
}
.no_category button {
    padding: 4px 10px;
    min-width: 90px;
    margin-top: 2px;
    display: block;
}
.category_list {
    position: absolute;
    width: 310px;
    z-index: 1;
}
.category_list .list {
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.category_list .list li {
    border-color: #e5e5e5 #ccc;
}
.category_list .list li:first-child {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
}
.category_list .list li:last-child {
    border-color: #e5e5e5 #ccc #ccc #ccc;
}
.list.category-list .row > a,
.list.categories .row > a {
	display: inline-block;
}

.form-control[readonly] {
	cursor: pointer;
	background-color: inherit;
}

.date-control {
	position: relative;
	display: inline-block;
}
.date-control .date-input {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	width: 100%;
}
.footer {
    height: 50px;
}

.list > li.total, .list > li.total:hover {
    background: #4581C9;
    cursor: default;
}
.list .total a {
    color: white;
    font-size: 18px;
}
.graph path, .graph text {
    cursor: pointer;
}

.start-page {
}
.start-page .left {
    display: inline-block;
    width: 50%;
    padding-right: 50px;
}
.start-page .right {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.start-page h1 {
    position: relative;
    margin: 30px 0 0 -10px;
    height: 232px;
    font: 142px 'Open Sans', Arial, Helvetica, sans-serif;
}
.start-page .track {
    position: absolute;
    top: 143px;
    left: 166px;
    font-size: 68px;
}
.start-page .book-keeping {
    position: absolute;
    top: 41px;
    left: 263px;
    font-size: 17px;
}
.start-page .online {
    position: absolute;
    font-size: 37px;
    top: 177px;
    left: 351px;
}
.start-page .orange {
    color: rgb(255, 133, 0);
}
.start-page .gray {
    color: #6d6d6d;
}

.start-page .info {
    padding-top: 5px;
    padding-bottom: 15px;
}
.start-page .page-welcome .info {
    padding-top: 56px;
}
.start-page h2 {
    font-family: "Open Sans Condensed", Georgia, serif;
    font-size: 47px;
    white-space: nowrap;
    margin: 0 0 23px 0;
}
.start-page .page-welcome h2 {
    font-size: 42px;
    white-space: normal;
}
.start-page p {
    font-family: Georgia, serif;
    font-size: 17px;
    line-height: 34px;
    margin: 0 0 12px;
}

.start-page .screenshot {
    margin: 0 15px 54px 0;
    height: 350px;
    border: 1px solid rgb(213, 213, 213);
    position: relative;
}
.start-page .screenshot .caption {
    position: absolute;
    top: 350px;
    text-align: center;
    width: 100%;
    font: 16px/30px Georgia, serif;
}
.start-page .page-welcome .screenshot {
    margin-right: 0;
    margin-top: 100px;
    height: auto;
    border: none;
}
.start-page .page-welcome .buttons-block {
    margin-left: 106px;
}

.start-page .buttons-block a:first-child {
    margin-right: 60px;
}
.start-page.about-page .buttons-block {
    text-align: center;
    margin: 30px 0 0 0;
}
.start-page .end-buttons-block {
    text-align: center;
    margin: 30px 0 0 0;
}
.start-page .free {
    font-family: Georgia, serif;
    font-size: 20px;
}
.start-page .quick-registration {
    font-family: Georgia, serif;
    font-size: 15px;
    color: #6D6D6D;
    margin-top: 7px;
}
.free-block {
    margin: 21px 0 0 0;
    text-align: center;
}
.free-block .free-block {
    margin-left: 35px;
}
.start-page .page-expenses {
    clear: both;
}

.start-page .about-page-block {
    margin: -50px 0 30px 0;
    padding-top: 80px;
}
.start-page .about-page-block.page-about-program {
    padding-top: 0;
    margin-top: 0;
}
.start-page.about-page .title-block {
    float: right;
    margin: -10px 46px 0 0;
}
.start-page.about-page h1 {
    margin: 0;
}
.start-page.about-page .screenshot {
    margin-top: 15px;
}
.start-page.about-page .learn-more-menu {
    margin-bottom: 50px;
}
.start-page.about-page .learn-more-menu li {
    margin: 0 0 14px 0;
}
.start-page.about-page .learn-more {
    border-bottom: 1px dashed #346997;
}

.start-page .page-about-program .info {
    padding: 28px 0 0 0;
}
.start-page .page-reports {
    padding-bottom: 30px;
}
.start-page .page-reports .free {
    text-align: center;
    margin: 17px 0 0 0;
}


.learn-more {
    font-family: Georgia, serif;
    font-size: 26px;
    line-height: 25px;
    text-decoration: none;
    color: #346997;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.learn-more:hover {
    color: #3f3f3f;
    border-color: #3f3f3f;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.learn-more-icon {
    display: inline-block;
    width: 21px;
    font-size: 17px;
}

.footer-link {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    margin-top: 35px;
    text-align: center;
    z-index: 10;
    border: none;
}


.report.list > li {
    cursor: default;
}
.report .category-with-children {
    cursor: pointer;
}
.big-list.report .row > a.name {
    position: relative;
    padding-left: 21px;
}
.report .fold {
    position: absolute;
    left: 5px;
    top: 12px;
    font-size: 12px;

    color: #3D81B9;
    text-shadow: 0 -1px #335891;
    cursor: pointer;
    transition: color .2s ease-out;
}
.report .fold:hover {
    color: #5B9FD6;
    transition: color .2s ease-out;
}
.no-data {
    margin-top: 6px;
    margin-bottom: 10px;
}

.transactions-header-row {
    margin-top: 10px;
    margin-bottom: 10px;
}
tspan {
    text-shadow: 1px 1px #fff;
}
.switcher {
    margin-bottom: 15px;
}

h3.expenses-header {
    font-size: 20px;
    line-height: 34px;
    margin: 0;
}

.navbar-default {
    width: 1170px;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    border: 0;
    box-shadow: 1px 1px 6px rgb(17, 17, 17);
    color: rgb(77, 77, 77);
}
.navbar-default .navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    color: inherit;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: black;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
    color: inherit;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: black;
    background-color: #EEEEEE;
    background: linear-gradient(#F7F7F7, #EBEBEB);
}
.nav > li > a {
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #666666;
    background: linear-gradient(#B8B8B8, #706D6D);
}
.add-item-btn span {
    color: #0065A8;
}
.btn-delete {
    float: right;
    font-size: 16px;
    line-height: 37px;
}
/*почему-то перекрывает выпадающий список*/
.btn-delete .glyphicon {
    position: inherit;
}

.edit-category-form {
    position: fixed;
    margin-left: 415px;
    top: 80px;
}
.edit-category-form .add-button {
    margin-bottom: 15px;
}
.edit-category-form .form-pad {
    width: 360px;
}

.thank-you {
    font: 17px/34px Georgia, serif;
    color: #505050;
    margin: 0 auto;
    width: 600px;
}
.thank-you .alert {
    margin: 25px 0 0 0;
}
.thank-you h1 {
    font: 47px "Open Sans Condensed", Georgia, serif;
    margin: 10px 0 20px 0;
}
.feedback-form .form-pad {
    width: 600px;
    margin: 20px auto;
    padding: 20px 20px 5px 20px;
}
.feedback-form textarea {
    min-width: 560px;
    max-width: 560px;
    height: 150px;
}

.btn-show-calendar {
    position: absolute;
    right: 0;
    opacity: 1;
}
.btn-show-calendar.mhide {
    cursor: default;
    opacity: 0;
}

.transactions-content {
    position: relative;
}

.calendar-header {
    text-align: center;
}
.calendar-header .month {
    position: relative;
    font-size: 20px;
    line-height: 34px;
    margin: 0;
}
.calendar-header .month-arrow {
    color: #3D81B9;
    text-shadow: 0 -1px #335891;
    cursor: pointer;
    transition: color .2s ease-out;
}
.calendar-header .month-arrow:hover {
    color: #5B9FD6;
    transition: color .2s ease-out;
}
.calendar-header .month-left {
    position: absolute;
    left: -35px;
}
.calendar-header .month-right {
    margin-left: 10px;
}

.calendar {
    position: absolute;
    width: 772px;
    top: 10px;
    left: 415px;
    border: none;
}
.calendar.mhide {
}
.calendar .week {

}
.calendar .day {
    display: inline-table;
    width: 110px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 26px;
    color: rgb(44, 44, 44);
    cursor: pointer;

    border-style: solid;
    border-color: #cae0f3;
    border-width: 1px;

    transition: background .3s ease-out;
    overflow: hidden;
}
.calendar .day:hover {
    background: #f2faff;
    transition: background .3s ease-out;
}
.calendar .day.today {
    background: #FA8F00;
    background: -webkit-linear-gradient(top, #FFC359, #FEA400);
    background: -moz-linear-gradient(top, #FFC359, #FEA400);
    background: -o-linear-gradient(top, #FFC359, #FEA400);
    background: -ms-linear-gradient(top, #FFC359, #FEA400);
    background: linear-gradient(top, #FFC359, #FEA400);
    border-color: #FEA400 #FEA400 #FF7513;
    text-shadow: 0 -1px #C95F00;
    color: #ffffff;

    transition: background .3s ease-out;
}
.calendar .day.today:hover {
    border-color: #FF7200 #FF7200 #D45500;
    background: #FF9C00;
    text-shadow: 0 -1px #C95000;
    background: -webkit-linear-gradient(top, #FFB300, #FF8600);
    background: -moz-linear-gradient(top, #FFB300, #FF8600);
    background: -o-linear-gradient(top, #FFB300, #FF8600);
    background: -ms-linear-gradient(top, #FFB300, #FF8600);
    background: linear-gradient(top, #FFB300, #FF8600);
    color: #ffffff;

    transition: background .3s ease-out;
}
.calendar .day.current, .calendar .day.current.today:hover {
    background: #62A4D9;
    background: -webkit-linear-gradient(top, #62A4D9, #3D81B9);
    background: -moz-linear-gradient(top, #62A4D9, #3D81B9);
    background: -o-linear-gradient(top, #62A4D9, #3D81B9);
    background: -ms-linear-gradient(top, #62A4D9, #3D81B9);
    background: linear-gradient(top, #62A4D9, #3D81B9);
    border-color: #4085BD #4085BD #2C5F88;
    text-shadow: 0 -1px #335891;
    color: #ffffff;

    transition: background .3s ease-out;
}
.calendar .day.anotherMonth {
    color: rgb(223, 223, 223);
}

.calendar .week:first-child .day {
    border-width: 2px 1px 1px;
}
.calendar .week:last-child .day {
    border-width: 1px 1px 2px;
}
.calendar .week .day:first-child {
    border-width: 1px 1px 1px 2px;
}
.calendar .week .day:last-child {
    border-width: 1px 2px 1px 1px;
}

.calendar .week:first-child .day:first-child {
    border-width: 2px 1px 1px 2px;
    border-top-left-radius: 10px;
}
.calendar .week:first-child .day:last-child {
    border-width: 2px 2px 1px 1px;
    border-top-right-radius: 10px;
}
.calendar .week:last-child .day:first-child {
    border-width: 1px 1px 2px 2px;
    border-bottom-left-radius: 10px;
}
.calendar .week:last-child .day:last-child {
    border-width: 1px 2px 2px 1px;
    border-bottom-right-radius: 10px;
}

.calendar .date {
    height: 45px;
    line-height: 45px;
    width: 50%;
}
.calendar .sums {
    font-size: 11px;
    line-height: 19px;
    text-align: right;
    padding-right: 6px;
}
.calendar .expenses {
    color: red;
}
.calendar .incomes {
    color: green;
}
.calendar .current .expenses, .calendar .current .incomes,
.calendar .today .expenses, .calendar .today .incomes {
    color: white;
}

#rambler-counter {
    visibility: hidden;
}