<!doctype html>
<html lang="en" ng-app="moneyTracker">
<head>
	<meta charset="utf-8">
	<title>MoneyTrack online — Домашняя бухгалтерия</title>
    <meta name="description" content="в шаблоне index_prod.html">
    <meta name="keywords" content="в шаблоне index_prod.html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="596b76b39dba1756">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <link rel="icon" href="img/icon32.png">
    <!--[if IE]><link rel="shortcut icon" href="img/icon32.ico"><![endif]-->

	<link rel="stylesheet" href="lib/datepicker/datepicker.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/layout.responsive.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/fonts.css">

	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/angular/angular-route.min.js"></script>
	<script src="lib/angular/angular-resource.min.js"></script>
	<script src="lib/angular/angular-cookies.min.js"></script>
	<script src="lib/angular/angular-messages.min.js"></script>
	<script src="lib/angular/angular-strap.min.js"></script>
	<script src="lib/angular/angular-strap.tpl.min.js"></script>
    <script src="lib/lodash.min.js"></script>
    <script src="lib/underscore.string.min.js"></script>
	<script src="lib/jquery.min.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="lib/moment/moment.min.js"></script>
	<script src="lib/moment/lang/ru.js"></script>
	<script src="lib/datepicker/bootstrap-datepicker.js"></script>
	<script src="lib/datepicker/bootstrap-datepicker.ru.js"></script>
	<script src="lib/raphael.min.js"></script>

	<script src="config/dev.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/start.js"></script>
	<script src="js/controllers/about.js"></script>
	<script src="js/controllers/demo.js"></script>
	<script src="js/controllers/transactions.js"></script>
	<script src="js/controllers/categories.js"></script>
	<script src="js/controllers/reports.js"></script>
	<script src="js/controllers/login.js"></script>
	<script src="js/controllers/navbar.js"></script>
	<script src="js/controllers/signup.js"></script>
	<script src="js/controllers/feedback.js"></script>
	<script src="js/services/analytics.js"></script>
	<script src="js/services/categories.js"></script>
	<script src="js/services/httpInterceptor.js"></script>
	<script src="js/services/transactions.js"></script>
	<script src="js/services/user.js"></script>
	<script src="js/services/reports.js"></script>
	<script src="js/services/mailer.js"></script>
	<script src="js/directives/categorySelector.js"></script>
	<script src="js/directives/datepicker.js"></script>
	<script src="js/filters/range.js"></script>

    <script src="admin/controllers/stats.js"></script>
    <script src="admin/controllers/users.js"></script>
    <script src="admin/services/users.js"></script>
    <script src="admin/services/expenses.js"></script>
    <script src="admin/services/categories.js"></script>
</head>
<body>

<header>
    <nav ng-controller="NavbarCtrl" class="navbar navbar-default navbar-fixed-top" bs-navbar role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/start">MoneyTrack</a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li ng-if="!currentUser" data-match-route="/about"><a href="/about">О программе</a></li>
                <li ng-if="currentUser" data-match-route="/expenses"><a href="/expenses">Расходы/доходы</a></li>
                <li ng-if="currentUser" data-match-route="/categories"><a href="/categories">Категории</a></li>
                <li ng-if="currentUser" data-match-route="/reports"><a href="/reports">Отчёты</a></li>
				<li data-match-route="/feedback" ng-if="!currentUser"><a href="/feedback">Задать вопрос</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li data-match-route="/login" ng-if="!currentUser"><a href="/login">Войти</a></li>
                <li data-match-route="/signup" ng-if="!currentUser"><a href="/signup">Регистрация</a></li>
                <!--<li ng-if="currentUser"><a href="javascript:void(0)"><span class="glyphicon glyphicon-user"></span> Профиль</a></li>-->
				<li data-match-route="/feedback" ng-if="currentUser"><a href="/feedback">Задать вопрос</a></li>
                <li ng-if="currentUser"><a href="javascript:void(0)" ng-click="logout()">Выйти</a></li>
            </ul>
        </div>
    </nav>
</header>

<div ng-view class="container">
</div>

</body>
</html>
