<!doctype html>
<html lang="en" ng-app="moneyTracker">
<head>
    <meta charset="utf-8">
    <title>MoneyTrack online — Домашняя бухгалтерия</title>
    <meta name="description" content="MoneyTrack - это бесплатный онлайн-сервис для учёта доходов и расходов. Мы сделали всё для того, чтобы вести финансовый учёт было максимально просто.">
    <meta name="keywords" content="домашняя бухгалтерия, домашняя бухгалтерия online, ведение личных финансов, программа для учета расходов, домашняя бухгалтерия онлайн, учёт доходов и расходов, учёт личных финансов, домашняя бухгалтерия бесплатно, управление личными финансами, ведение домашней бухгалтерии, бесплатный, онлайн, доходы, расходы, финансовый учет">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="596b76b39dba1756">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <link rel="icon" href="img/icon32.png">
    <!--[if IE]><link rel="shortcut icon" href="img/icon32.ico"><![endif]-->

    <link rel="stylesheet" href="build/1qekthjjor/app.css">
    <script src="build/1qekthjjor/app.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-53458218-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>

<!-- Rating@Mail.ru counter -->
<script type="text/javascript">
    var _tmr = _tmr || [];
    _tmr.push({id: "2577132", type: "pageView", start: (new Date()).getTime()});
    (function (d, w) {
        var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true;
        ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
        var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
        if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
    })(document, window);
</script><noscript><div style="position:absolute;left:-10000px;">
    <img src="//top-fwz1.mail.ru/counter?id=2577132;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
</div></noscript>
<!-- //Rating@Mail.ru counter -->

<header>
    <nav ng-controller="NavbarCtrl" class="navbar navbar-default navbar-fixed-top" bs-navbar role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/start">MoneyTrack</a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li ng-if="!currentUser" data-match-route="/about"><a href="/about">О программе</a></li>
                <li ng-if="currentUser" data-match-route="/expenses"><a href="/expenses">Расходы/доходы</a></li>
                <li ng-if="currentUser" data-match-route="/categories"><a href="/categories">Категории</a></li>
                <li ng-if="currentUser" data-match-route="/reports"><a href="/reports">Отчёты</a></li>
				<li data-match-route="/feedback" ng-if="!currentUser"><a href="/feedback">Задать вопрос</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li data-match-route="/login" ng-if="!currentUser"><a href="/login">Войти</a></li>
                <li data-match-route="/signup" ng-if="!currentUser"><a href="/signup">Регистрация</a></li>
				<li data-match-route="/feedback" ng-if="currentUser"><a href="/feedback">Задать вопрос</a></li>
                <li ng-if="currentUser"><a href="javascript:void(0)" ng-click="logout()">Выйти</a></li>
            </ul>
        </div>
    </nav>
</header>

<div ng-view class="container">
</div>

<div id="rambler-counter">
    <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?3058990"></script>
    <noscript>
        <a href="http://top100.rambler.ru/navi/3058990/">
            <img src="http://counter.rambler.ru/top100.cnt?3058990" alt="Rambler's Top100" border="0" />
        </a>
    </noscript>
</div>

</body>
</html>
