<div class="row">
	<div class="col-xs-4">
		<div class="btn-group switcher">
			<button type="button" class="btn btn-rounded btn-default" ng-class="{'active': (categoryType == 'expense')}" ng-click="setCategoryType('expense')">Категории расходов</button>
			<button type="button" class="btn btn-rounded btn-default" ng-class="{'active': (categoryType == 'income')}" ng-click="setCategoryType('income')">Источники доходов</button>
		</div>

		<ul class="list big-list category-list" ng-if="categories !== undefined">
			<li ng-repeat="category in categories | filter: {type: categoryType}" ng-class="{active: category.active}" ng-click="editCategory(category)">
				<div class="row">
					<div class="indent" ng-repeat="n in [] | range:category.indent"></div>
					<a>{{category.name}}&nbsp;</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="col-xs-4 edit-category-form">
		<div class="btn btn-color btn-blue add-button" ng-disabled="edited.new" ng-click="addCategory()">Добавить категорию</div>

		<div class="form-pad" ng-hide="!edited">
			<form role="form">
				<fieldset>
					<div class="form-group">
						<label for="inputName">Название</label>
						<input type="text" class="form-control" name="name" ng-model="edited.name" id="inputName" autocomplete="off">
					</div>
					<div class="form-group" ng-hide="!categoriesToSelect.length">
						<label for="inputName">Входит в категорию</label>
                        <div class="category-selector">
                            <input category-selector="categoriesToSelect" type="text" class="form-control category_selector" ng-model="categoryName" name="category"
                                   ng-focus="categoryInputFocus()" ng-blur="categoryInputBlur()" ng-keydown="categoryInputKeydown($event)"
								   autocomplete="off">
                            <div class="category_clear glyphicon glyphicon-remove fade" ng-click="clearCategory($event)" ng-class="{'in': categoryName.length}"></div>
                            <div id="categoryList" class="category_list fade" ng-hide="!categoryListShown">
                                <ul class="list categories">
                                    <li ng-if="!categoryName.length" ng-click="categoryListItemClick($event)">
                                        <div class="row" data-name=""><a>&nbsp;</a></div>
                                    </li>
                                    <li ng-repeat="category in filteredCategories" data-id="{{category._id}}" data-name="{{category.name}}"
                                        ng-class="{'active': $index === selectedCategoryIndex}" ng-click="categoryListItemClick($event)">
                                        <div class="row">
                                            <div class="indent" ng-repeat="n in [] | range:category.indent"></div>
                                            <a>{{category.name}}</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
					</div>
					<div class="form-group">
						<button class="btn btn-color btn-blue" ng-click="saveCategory()">Сохранить</button>
                        <button class="btn btn-color" ng-click="cancelEditing()">Отмена</button>
						<button class="btn btn-square btn-red btn-delete" ng-if="!edited.new" ng-click="deleteCategory()" title="Удалить"><span class="glyphicon glyphicon-trash"></span></button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>