<div class="container">
    <div class="row">
        <div class="center-form well">
                <h2 class="text-center">Вход</h2>

                <form method="post" ng-submit="login()" name="loginForm">

                    <div class="form-group">
                        <input class="form-control input-lg" type="text" id="email" name="email"
                            ng-model="email" placeholder="Email" required autofocus>
                    </div>

                    <div class="form-group">
                        <input class="form-control input-lg" type="password" id="password" name="password"
                            ng-model="password" placeholder="Пароль" required>
                    </div>

                    <button type="submit" ng-disabled="loginForm.$invalid"
                        class="btn btn-big btn-block btn-blue">Войти
                    </button>
                </form>
        </div>
    </div>
</div>