<div class="row">
	<div class="col-xs-4">
        <div class="btn-group switcher">
            <button type="button" class="btn btn-rounded btn-default" ng-class="{'active': (transactionType == 'expense')}" ng-click="setTransactionType('expense')">Расходы</button>
            <button type="button" class="btn btn-rounded btn-default" ng-class="{'active': (transactionType == 'income')}" ng-click="setTransactionType('income')">Доходы</button>
        </div>
		<form role="form">
			<div class="form-group">
				<label for="period">За период</label>
				<select ng-model="period" ng-options="period.name as period.label for period in periods" id="period" class="form-control" ng-change="periodChanged()">
				</select>
			</div>
		</form>
		<form class="form-horizontal" role="form">
			<div class="form-group" ng-if="period == 'any'">
				<label for="inputDateFrom" class="col-sm-2 control-label">С</label>
				<div class="col-sm-10">
					<input datepicker type="text" class="form-control" name="dateFrom" value="{{dateFrom.format('DD.MM.YYYY')}}" id="inputDateFrom" readonly>
				</div>
			</div>
			<div class="form-group" ng-if="period == 'any'">
				<label for="inputDateTo" class="col-sm-2 control-label">По</label>
				<div class="col-sm-10">
					<input datepicker type="text" class="form-control" name="dateTo" value="{{dateTo.format('DD.MM.YYYY')}}" id="inputDateTo" readonly>
				</div>
			</div>
		</form>
		<h3>Расходы за период</h3>
		<div ng-if="report !== undefined">
			<ul class="list big-list report categories">
				<li ng-repeat="line in report" ng-hide="line.category.parent && line.category.parent.folded"
                    ng-mouseenter="line.graph.sector.highlight()" ng-mouseleave="line.graph.sector.unhighlight()"
                    ng-class="line.highlighted ? 'highlighted' : ''">
					<div class="row">
                        <div class="indent" ng-repeat="n in [] | range:line.category.indent"></div>
						<a class="name" ng-class="line.category.canBeFolded ? 'category-with-children' : ''" ng-click="foldCategory(line)">
                            <span ng-if="line.category.canBeFolded" class="fold glyphicon" ng-class="'glyphicon-chevron-' + (line.category.folded ? 'right' : 'down')"></span>
                            {{line.label}}&nbsp;
                        </a>
						<a ng-if="line.sum" class="span-100 right">{{line.sumString}}</a>
					</div>
				</li>
                <li class="total" ng-if="report.length">
                    <div class="row">
                        <a>Итого</a>
                        <a class="span-100 right">{{total}}</a>
                    </div>
                </li>
			</ul>
			<div ng-if="report.length === 0">Нет транзакций за период</div>
		</div>
	</div>
	<div class="graph col-xs-8" id="graph">
	</div>
</div>