<div class="container">
    <br/>

    <div class="row">
        <div class="center-form well">
            <form method="post" ng-submit="signup()" name="signupForm">
                <h2 class="text-center">Регистрация</h2>

                <div class="form-group"
                     ng-class="{ 'has-success' : signupForm.email.$valid && signupForm.email.$dirty, 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
                    <input class="form-control input-lg" type="text" id="email"
                           name="email" ng-model="email" placeholder="Email" required
                           autofocus autocomplete="off">

                    <div class="help-block text-danger" ng-if="signupForm.email.$dirty"
                         ng-messages="signupForm.email.$error">
                        <div ng-message="required">Введите email</div>
                        <div ng-message="email">Неверный формат</div>
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-success' : signupForm.password.$valid && signupForm.password.$dirty, 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
                    <input class="form-control input-lg" type="password" name="password" autocomplete="off"
                           ng-model="password" placeholder="Пароль" required>

                    <div class="help-block text-danger"
                         ng-if="signupForm.password.$dirty"
                         ng-messages="signupForm.password.$error">
                        <div ng-message="required">Ввведите пароль</div>
                    </div>
                </div>

                <button type="submit" ng-disabled="signupForm.$invalid"
                        class="btn btn-big btn-block btn-blue">Создать аккаунт
                </button>
            </form>
        </div>
    </div>
</div>