<div class="row transactions-header-row">
    <button class="btn-square btn-blue btn-show-calendar" ng-class="{visible: !!edited, mhide: !edited}" ng-click="showCalendar()"><span class="glyphicon glyphicon-calendar"></span></button>

    <div class="col-xs-4">
        <h3 id="dateHeader" class="expenses-header">
            {{date.format('D MMMM, dddd')}}
        </h3>
    </div>
    <div class="col-xs-2">
        <div class="btn btn-color btn-blue" ng-disabled="edited.new" ng-click="addTransaction()" ng-bind="'Добавить ' + (transactionType == 'income' ? 'доход' : 'расход')"></div>
    </div>
    <div class="col-xs-4 calendar-header">
        <span class="month" ng-class="{visible: !edited, mhide: !!edited}">
            {{calendar.monthString}}
            <span class="month-arrow month-left glyphicon glyphicon-chevron-left" ng-click="previousMonth()"></span>
            <span class="month-arrow month-right glyphicon glyphicon-chevron-right" ng-click="nextMonth()"></span>
        </span>
    </div>
</div>
<div class="row transactions-content">
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-6">
                <div class="btn-group switcher">
                    <button type="button" class="btn btn-rounded btn-default" ng-class="{'active': (transactionType == 'expense')}" ng-click="setTransactionType('expense')">Расходы</button>
                    <button type="button" class="btn btn-rounded btn-default" ng-class="{'active': (transactionType == 'income')}" ng-click="setTransactionType('income')">Доходы</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <ul id="transactions" class="list big-list expenses" ng-if="transactions !== undefined">
                    <li ng-repeat="transaction in transactions | filter: {type: transactionType}" ng-class="{active: transaction.active}" ng-click="editTransaction(transaction)">
                        <div class="row">
                            <a class="span-260">{{transaction.category.name}}&nbsp;</a>
                            <a class="span-60">{{transaction.sum}}</a>
                            <div class="comment" ng-if="transaction.comment">{{transaction.comment}}</div>
                        </div>
                    </li>
                </ul>
                <div ng-if="transactions.length === 0">Нет транзакций за {{date.format('D MMMM')}}</div>
            </div>
            <div class="col-xs-6 edit-form" ng-class="{visible: !!edited, mhide: !edited}">
                <div class="form-pad" id="edit_transaction">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <label for="inputDate">Дата</label>
                                <input datepicker type="text" class="form-control" name="date" value="{{edited.date.format('DD.MM.YYYY')}}" id="inputDate" readonly>
                            </div>
                            <div class="form-group">
                                <label for="inputCategory" ng-if="transactionType == 'expense'">Категория</label>
                                <label for="inputCategory" ng-if="transactionType == 'income'">Источник дохода</label>
                                <div class="category-selector">
                                    <input category-selector="categoriesOfType" type="text" class="form-control category_selector" ng-model="categoryName" name="category"
                                            ng-focus="categoryInputFocus()" ng-blur="categoryInputBlur()" ng-keydown="categoryInputKeydown($event)"
                                            autocomplete="off">
                                    <div class="category_clear glyphicon glyphicon-remove fade" ng-click="clearCategory($event)" ng-class="{'in': categoryName.length}"></div>
                                    <div id="categoryList" class="category_list fade" ng-if="categoryListShown">
                                        <ul class="list categories">
                                            <li ng-repeat="category in filteredCategories" data-id="{{category._id}}" data-name="{{category.name}}" ng-class="{'active': $index === selectedCategoryIndex}"
                                                ng-click="categoryListItemClick($event)">
                                                <div class="row">
                                                    <div class="indent" ng-repeat="n in [] | range:category.indent"></div>
                                                    <a>{{category.name}}</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="category_list no_category fade in" ng-if="categoryName && !filteredCategories.length">
                                        <ul class="list">
                                            <li><div>
                                                У вас нет категории "<span ng-bind="categoryName"></span>".
                                                <button class="btn btn-sm btn-color btn-blue" ng-click="newCategoryClick()">Добавить</button>
                                            </div></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSum">Сумма</label>
                                <input type="text" class="form-control" name="sum" ng-model="edited.sum" id="inputSum" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="inputComment">Комментарий</label>
                                <input type="text" class="form-control" name="comment" ng-model="edited.comment" id="inputComment" autocomplete="off"git >
                            </div>
                            <div class="form-group">
                                <button class="btn btn-color btn-blue" ng-click="saveTransaction()">Сохранить</button>
                                <button class="btn btn-color" ng-click="cancelEditing()">Отмена</button>
                                <button class="btn btn-square btn-red btn-delete" ng-if="!edited.new" ng-click="deleteTransaction()" title="Удалить"><span class="glyphicon glyphicon-trash"></span></button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar" ng-class="{visible: !edited, mhide: !!edited}">
        <div class="week" ng-repeat="week in calendar.weeks">
            <div class="day" ng-repeat="day in week.days" ng-class="{anotherMonth: !day.currentMonth, current: day.date.format('DDMMYY') == date.format('DDMMYY'), today: day.date.format('DDMMYY') == today.format('DDMMYY')}" ng-click="calendarPickDate(day.date)">
                <div class="date">{{day.date.format('D')}}</div>
                <div class="sums">
                    <div class="incomes">{{day.transactionsData.incomesSum ? day.transactionsData.incomesString : '&nbsp;'}}</div>
                    <div class="expenses" ng-if="day.transactionsData.expensesSum">-{{day.transactionsData.expensesString}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-success footer-panel" ng-if="currentUser.demo">
	<div class="panel-heading">
		<h3 class="panel-title">Демо режим</h3>
	</div>
	<div class="panel-body">
		<p>Вы находитесь в демонстрационном режиме. Здесь вы можете попробовать систему в действии на тестовых данных. Добавляйте новые транзакции, меняйте и удаляйте старые и смотрите, что из этого выйдет.</p>
		<p>Если вы хотите начать вести свой учёт, вам нужно <a href="" class="blue" ng-click="register()">зарегистрироваться</a>.</p>
	</div>
</div>