<h3>Отчёты</h3>
<div class="row">
    <div class="col-xs-6">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Пользователи</td>
                    <td ng-bind="users">&nbsp;</td>
                </tr>
                <tr>
                    <td>Расходы</td>
                    <td ng-bind="expenses">&nbsp;</td>
                </tr>
                <tr>
                    <td>Категории расходов</td>
                    <td ng-bind="categories">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>