<h3>Пользователи</h3>
<div class="row">
    <div class="col-xs-6">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>